<% @tweets.in_groups_of(1) do |group| %>
  <div class="row">
    <% group.compact.each do |tweet| %>
          <div class="col-md-4">
            <%= image_tag tweet.picture_url, width: '50%' if tweet.picture.present? %>
            <a href="<%= tweet_path(tweet) %>">View Tweet</a>
            <%= tweet.content %>
            <%= render 'tweets/upvote_link', tweet: tweet %>
            <%= render 'tweets/votes_score', tweet: tweet %>
            <% if tweet.user %>
                by <%= tweet.user.name %>
            <% end %>
            <small>Tweeted <%= time_ago_in_words(tweet.created_at) %> ago</small>
            </div>
      </div>
    <% end %>
<% end %>
