<div class="container">
  <div class="row">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          by <%= @tweet.user.name if @tweet.user %>
        </div>
        <div class="card-image">
          <div id="card-left"><%= image_tag @tweet.picture_url, width: '50%' if @tweet.picture.present? %></div>
        </div>
        <div class="card-body">
          <div id="card-left"><%= simple_format(@tweet.content) %></div>
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@tweet.created_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h6>Comments</h6>
    <%= render partial: 'comments/form', locals: { comment: @comment } %>
    <div class="card text-center shadow mb-5 bg-white rounded">
    <% @comments.each do |comment| %>
      <div class="card-body">
        <strong><%= comment.user.name %></strong>
        <br>
        <p class="card-text"><%= comment.body %></p>
        <p><b>Commented <%= time_ago_in_words(comment.created_at) %> ago</b></p>
        <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    <% end %>
    </div>
</div>
